<div class="jumbotron" id="landingJumboTron" background="images/Kinnick.jpg">
    <div class="container" background="http://pictures.replayphotos.com/images/IOWA/lg/university-of-iowa-panoramas-automatically-imported-penn-state-v-iowa-iowa-p-auto-00020lg.jpg">
        <div class="featurette">
            <div class="featurette-inner text-center">
              <form role="form" class="search">
                 <h1 id="landingMoto">Where Hawkeyes can buy and sell tickets</h1>
                 <div class="input-group input-group-lg form-inline">
                    
                    <input type="search" style = "text-align: center" placeholder="Search for Game" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </span>
                 </div>
              </form>
                <%= link_to "/#quickTickets" do %>
                    <i class="glyphicon glyphicon-chevron-down white"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="container" id="quickTickets">
    <% Game.all.each do |game| %>
        <h1>
            <%= link_to game.name, game_tickets_path(game.id) %>
        </h1>
    <%end%>
</div>