<h1>Iowa Ticket Exchange</h1>

<p>Hi <%= @user.first_name %>,</p>

<p>
You have recieved a new message. I foresee a ticket sale coming!
</p>

<%= link_to "Check your messages here!",  welcome_index_url %>

