.table-nonfluid  {
    width: 85% !important;
    margin: 0px auto;
}

#buy_button{
    height: 30px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}